    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Admin Customer Portal 2025</span>
            </div>
        </div>
    </footer>
    
    <!-- jQuery (Required for Bootstrap and DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <!-- Chart.js -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    
    <!-- DataTables -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
</body>
</html>
